.search{
    width: max-content;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 14px;
    background-color: rgb(226, 226, 226);
    gap: 10px;
}
.search-input{
    border: none;
    background: none;
    border: none;
    outline: none;
}









